{{#section 'css'}}
    <link rel="stylesheet"
          href="/static/css/home-articleList/articleListByCat.css">
{{/section}}


<div class="  mx-auto p-3 rounded " style="width: 1320px;background-color: #FFFFFF">
    <div class="d-flex category-list align-items-center pb-3 border-bottom">
        <div class="category-list__vertical-line"></div>
        <h6 class="mb-0 mx-3 category-list__category category-list__category--parent">Tìm kiếm</h6></a>
    </div>
    <h3 class="px-3 mt-2 mb-0">
        Từ khóa tìm kiếm:{{keywords}}
    </h3>
    <div class="mt-3 px-3" style="width: 900px ">
        {{#each this.articles}}
            <div class="row mb-3 border-bottom py-3" style="border-radius: 10px; ">
                <div class="col-3">
                    <a href="/article?id={{article_id}}">
                    <img src="/others/{{main_thumb}}" class="rounded"
                         style="object-fit:cover; width: 200px; height: 150px;"/>
                    </a>
                </div>
                <div class="col-9 px-2 pl-0 d-flex flex-column">
                    <p class="mb-0 article-text d-flex">
                        {{#each categoryList}}
                            <a href="/cat?catId={{category_id}}" class="category-link mr-4">{{name}}</a>
                        {{/each}}
                    </p>
                    {{!-- Thêm link vào bài viết sau nhe --}}
                    <a class="font-weight-bold article-title" href="/article?id={{article_id}}">{{title}}</a>
                    <div class="article-text mt-1">{{abstract}}</div>
                    <p class="mb-0 article-text mt-auto">
                        {{#each tagList}}
                            <a href="/tag?tagId={{tag_id}}" class="badge badge-pill badge-light mr-2
                            mt-auto">{{name}}</a>
                        {{/each}}
                    </p>
                </div>
            </div>
        {{/each}}
        <nav>
            <ul class="pagination d-flex justify-content-center flex-wrap pagination-rounded-flat pagination-success">
                <li class="page-item"><a class="page-link" href="/search?keywords={{this.keywords}}
                    &page={{this.prevPage}}"
                    data-abc="true"><i class="fa fa-angle-left"></i></a>
                </li>
                {{#each this.page_items}}
                    {{#if active}}
                        <li class="page-item active"><a class="page-link" href="#" data-abc="true">{{value}}</a></li>
                    {{else}}
                        <li class="page-item "><a class="page-link" href="/search?keywords={{../this.keywords}}
                            &page={{value}}"
                            data-abc="true">{{value}}</a></li>
                    {{/if}}
                {{/each}}
                <li class="page-item ">
                    <a class="page-link" href="/search?keywords={{this.keywords}}&page={{this.nextPage}}"
                    data-abc="true"><i class="fa fa-angle-right"></i>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>

