{{#section 'css'}}
<link rel="stylesheet" href="/static/css/home-articleList/home-content.css">
{{/section}}

<div class="wrapper mx-auto mt-4 mb-5 container">
    <div class="row">
        <div class="col-8">

            <div>
                <h6 class="ml-3 mb-3 pl-2" style="border-left: 4px solid red;">
                    Tin nổi bật trong tuần
                </h6>
                <div id="hotWeek" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="/static/images/others/main_carosel.jpg" class="d-block w-100 slide-img" alt="...">
                            <div class="carousel-caption d-none d-md-block text-center">
                                <h5>BÁO TUỔI GIÀ: GIÀ NHƯNG KHÔNG ĐÃNG</h5>
                                <p>Cung cấp nhiều thông tin hữu ích cho người già mỗi ngày.</p>
                            </div>
                        </div>
                        {{#each this.topWeekArticles}}
                        <div class="carousel-item">
                            <a href="/article?id={{id}}">
                                <img src="{{main_thumb}}" class="d-block w-100" alt="...">
                            </a>
                            <div class="carousel-caption d-none d-md-block px-4 pb-2">
                                {{#each categories}}
                                <a href="/cat?catId={{id}}" class="cat-link text-light">
                                    {{name}}
                                </a>
                                {{/each}}
                                <a href="/article?id={{id}}" class="title-link text-light">
                                    <h5>{{title}}</h5>
                                </a>
                                <p>
                                    <i class="bi bi-calendar3"></i>
                                    {{formatSimpleDatetime publish_date}}
                                </p>
                            </div>
                        </div>
                        {{/each}}
                    </div>

                    <button class="carousel-control-prev" type="button" data-target="#hotWeek" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-target="#hotWeek" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </button>
                </div>
            </div>

            <div class="mt-4">
                <h6 class="ml-3 my-3 pl-2" style="border-left: 4px solid red;">
                    Tin mới nhất
                </h6>
                {{#each this.newestArticles}}
                <div class="row mb-4" style="border-radius: 10px;">
                    <div class="col-4">
                        <a href="/article?id={{id}}">
                            <img src="{{main_thumb}}" class="rounded"
                                style="object-fit:cover; height: 180px; width: 100%" />
                        </a>
                    </div>
                    <div class="col-8 pl-0 pb-2 d-flex flex-column">
                        <p class="mb-0 article-text d-flex">
                            {{#each categories}}
                            <small>
                                <a href="/cat?catId={{id}}" class="cat-link mr-2">{{name}}</a>
                            </small>
                            {{/each}}
                            {{#if is_premium}}
                            <span class="badge badge-warning text-danger ml-auto d-flex align-items-center" style="font-size: 12px;">
                                <img src="/static/images/others/diamond.png" alt="" style="width: 10px;" class="mr-1">
                                Premium
                            </span>
                            {{/if}}
                        </p>
                        <small class="mb-1">
                            <a class="font-weight-bold article-title title-link" href="/article?id={{id}}">
                                {{title}}
                            </a>
                        </small>
                        <small>
                            {{abstract}}
                        </small>
                        <small style="position:absolute; bottom: 0%">
                            <i class="bi bi-calendar3"></i>
                            {{formatSimpleDatetime publish_date}}
                        </small>
                    </div>
                </div>
                {{/each}}
                <div class="text-center">
                    <a href="/newest" class="more-icon">
                        <i class="bi bi-arrow-bar-down" style="font-size: 20px;"></i>
                    </a>
                </div>
            </div>

            <div>
                <h6 class="ml-3 my-3 pl-2" style="border-left: 4px solid red;">
                    Top chuyên mục
                </h6>
                <div class="masonry-layout">
                    {{#each this.newestArticlesOfTopCat}}
                    <div class="masonry-item">
                        <div class="article-card px-2 pt-1 pb-3">
                            <h5 class="d-flex justify-content-between px-3">
                                <a href="/cat?catId={{catId}}" class="cat-link">
                                    {{catName}}
                                </a>
                                <span class="text-secondary">
                                    <i class="bi bi-eyeglasses"></i>
                                    {{total_views}}
                                </span>
                            </h5>
                            </a>
                            <a href="/article?id={{article.id}}">
                                <img src="{{article.main_thumb}}"
                                    style="border-radius:10px; object-fit:cover; width:100%;">
                            </a>
                            <a href="/article?id={{article.id}}" class="title-link">
                                <h6 class="mt-2">
                                    {{article.title}}
                                </h6>
                            </a>
                            <small>
                                <i class="bi bi-calendar3"></i>
                                {{formatSimpleDatetime article.publish_date}}
                            </small>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>

        </div>

        <div class="col-4">

            <h6 class="ml-3 pl-2" style="border-left: 4px solid red;">
                Tin nổi bật nhất mọi thời đại
            </h6>
            {{#each this.topViewArticles}}
            <div class="hot-all-item mt-3 px-1">
                <a href="/article?id={{id}}">
                    <img src="{{main_thumb}}" alt="" class="hot-all-img">
                </a>
                <div class="px-1">
                    <p class="mb-0">
                        {{#each categories}}
                        <a href="/cat?catId={{id}}">
                            <small class="mr-1 cat-link">{{name}}</small>
                        </a>
                        {{/each}}
                    </p>
                    <a href="/article?id={{id}}">
                        <h6 class="mb-1 title-link">
                            {{title}}
                        </h6>
                    </a>
                    <small class="d-flex justify-content-between">
                        <span>
                            <i class="bi bi-calendar3"></i>
                            {{formatSimpleDatetime publish_date}}
                        </span>
                        <span>
                            <i class="bi bi-eyeglasses"></i>
                            {{view_count}}
                        </span>
                    </small>
                </div>
            </div>
            {{/each}}

        </div>
    </div>

</div>