{{#section 'css'}}
    <link rel="stylesheet"
          href="/static/css/account-information/account-information.css">
{{/section}}

<div class="bg-white " style="border-radius: 10px">
    <div class="p-4 " style="border-bottom: 1px solid #EEEEEE">
        <h4 style="font-weight: bold; " class=" ">Báo Tuổi Già cam kết bảo mật thông tin</h4>
    </div>
    <div style="width: 800px; margin: auto" class="user-information mt-3">
        {{#if this.user.pseudonym}}
            <div class="row py-3">
                <span class="col-2">Bút danh</span>
                <div class="col-8 user-information__value">{{this.user.pseudonym}}</div>
                <div class="col-2 ">
                    <button type="button" class="user-information__btn-update " data-toggle="modal"
                            data-target="#updatePseudonymModal">
                    <span class="">
                    Thay đổi
                    </span>
                    </button>
                </div>
            </div>

        {{/if}}
        <div class="row py-3 ">
            <span class="col-2">Họ và tên:</span>
            <div class="col-8">
                <div class=" user-information__value">{{this.user.name}}</div>
                <div>
                    (Tên hiển thị khi tham gia bình luận)
                </div>
            </div>

            <div class="col-2">
                <button type="button" class="user-information__btn-update" data-toggle="modal"
                        data-target="#updateFullNameModal">
                    <span>
                    Cập nhật
                    </span>
                </button>
            </div>
        </div>
        <div class="row py-3">
            <span class="col-2">Email:</span>
            <div class="col-8 user-information__value">{{this.user.email}}</div>
            <div class="col-2">
                <button type="button" class="user-information__btn-update" data-toggle="modal"
                        data-target="#updateEmailModal">
                    <span>
                    Cập nhật
                    </span>
                </button>
            </div>
        </div>
        <div class="row py-3">
            <span class="col-2">Mật khẩu:</span>
            <div class="col-8 user-information__value">**********</div>
            <div class="col-2">
                <button type="button" class="user-information__btn-update" data-toggle="modal"
                        data-target="#updatePasswordModal">
                    <span>
                    Cập nhật
                    </span>
                </button>
            </div>
        </div>
        <div class="row py-3">
            <span class="col-2">Vai Trò</span>
            <div class="col-8 user-information__value">{{this.user.role}}</div>
            <div class="col-2 ">
                <button type="button" class="user-information__btn-update " data-toggle="modal"
                        data-target="#updateGenderModal">
                    <span>
                    Thay đổi
                    </span>
                </button>
            </div>
        </div>
        <div class="row py-3">
            <span class="col-2">Ngày sinh:</span>
            <div class="col-8 user-information__value">
                {{#if this.user.birth_date}}
                    {{this.user.birth_date}}
                {{else}}
                    Cập nhật chính xác ngày sinh để có cơ hội nhận được những bất ngờ
                    từ báo Tuổi Già
                {{/if}}

            </div>
            <div class="col-2">
                <button type="button" class="user-information__btn-update" data-toggle="modal"
                        data-target="#updateBirthDayModal">
                    <span>
                    Cập nhật
                    </span>
                </button>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="updatePseudonymModal" tabindex="-1" aria-labelledby="updatePseudonymModal"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title font-weight-bolder" id="updatePseudonymModal">CẬP NHẬT BÚT DANH</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="updatePseudonym" method="post" action="/account/information/update-pseudonym">
                        <div class="form-group">
                            <input type="text" name="pseudonym" id="pseudonym" class="form-control p-2 border-0 mt-2"
                                   style="background-color:#EAEEF2 " placeholder="Nhập bút danh"
                                   aria-describedby="helpId">
                        </div>
                        <div class="modal-footer d-flex justify-content-center">
                            <button type="submit" id="updateFullName" class="btn btn-primary">
                                <span class="font-weight-bold">
                                    LƯU THAY ĐỔI
                                </span>
                            </button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <div class="modal fade" id="updateFullNameModal" tabindex="-1" aria-labelledby="updateFullNameModal"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title font-weight-bolder" id="updateFullNameModal">CẬP NHẬT HỌ VÀ TÊN</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" action="/account/information/update-name" id="updateName">
                        <div class="form-group">
                            <input type="password" name="password" id="password" class="form-control p-2 border-0"
                                   style="background-color:#EAEEF2 " placeholder="Nhập mật khẩu"
                                   aria-describedby="helpId">
                        </div>
                        <div class="form-group">
                            <input type="text" name="name" id="name" class="form-control p-2 border-0 mt-2"
                                   style="background-color:#EAEEF2 " placeholder="Nhập họ tên"
                                   aria-describedby="helpId">
                        </div>
                        <div class="modal-footer d-flex justify-content-center">
                            <button type="submit" id="updateFullName" class="btn btn-primary">
                                <span class="font-weight-bold">
                                    LƯU THAY ĐỔI
                                </span>
                            </button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <div class="modal fade" id="updateEmailModal" tabindex="-1" aria-labelledby="updateEmailModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title font-weight-bolder" id="updateEmailModal">CẬP NHẬT EMAIL</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" action="/account/information/update-email" id="updateEmail">
                        <div class="form-group">
                            <input type="password" name="password" id="emailPassword" class="form-control p-2 border-0"
                                   style="background-color:#EAEEF2 " placeholder="Nhập mật khẩu"
                                   aria-describedby="helpId">
                        </div>
                        <div class="form-group">
                            <input type="text" name="email" id="email" class="form-control p-2 border-0 mt-2"
                                   style="background-color:#EAEEF2 " placeholder="Nhập email"
                                   aria-describedby="helpId">
                        </div>
                        <div class="modal-footer d-flex justify-content-center">
                            <button type="submit" id="updateFullName" class="btn btn-primary">
                                <span class="font-weight-bold">
                                    LƯU THAY ĐỔI
                                </span>
                            </button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <div class="modal fade" id="updatePasswordModal" tabindex="-1" aria-labelledby="updatePasswordModal"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title font-weight-bolder" id="updatePasswordModal">CẬP NHẬT MẬT KHẨU</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" action="/account/information/update-password" id="updatePassword">
                        <div class="form-group">
                            <input type="password" name="oldPassword" id="oldPassword" class="form-control p-2 border-0"
                                   style="background-color:#EAEEF2 " placeholder="Nhập mật khẩu cũ"
                                   aria-describedby="helpId">
                        </div>
                        <div class="form-group">
                            <input type="password" name="newPassword" id="newPassword"
                                   class="form-control p-2 border-0 mt-2"
                                   style="background-color:#EAEEF2 " placeholder="Nhập mật khẩu mới"
                                   aria-describedby="helpId">
                        </div>
                        <div class="modal-footer d-flex justify-content-center">
                            <button type="submit" id="updateFullName" class="btn btn-primary">
                                <span class="font-weight-bold">
                                    LƯU THAY ĐỔI
                                </span>
                            </button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <div class="modal fade" id="updateBirthDayModal" tabindex="-1" aria-labelledby="updateBirthDayModal"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title font-weight-bolder" id="updateBirthDayModal">CẬP NHẬT NGÀY SINH</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" action="/account/information/update-birth-date">
                        <div class="form-group">
                            <input type="text" name="dob" id="dob" class="form-control p-2 border-0"
                                   style="background-color:#EAEEF2 " placeholder="DD-MM-YYYY"
                                   aria-describedby="helpId">
                        </div>
                        <div class="modal-footer d-flex justify-content-center">
                            <button type="submit" id="updateFullName" class="btn btn-primary">
                                <span class="font-weight-bold">
                                    LƯU THAY ĐỔI
                                </span>
                            </button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="bg-white mt-4" style="border-radius: 10px">
    <div class="p-4 " style="border-bottom: 1px solid #EEEEEE">
        <h4 style="font-weight: bold; " class=" ">Liên kết mạng xã hội</h4>
    </div>
    <div style="width: 800px; margin: auto" class="user-information mt-3">
        <div class="d-flex py-3 justify-content-between ">
            <div class="d-flex align-items-center">
                <img src="/others/google.png" style="width: 30px; height: 30px"/>
                <div class="ml-3">
                    <div class="font-weight-bold">Google</div>
                    <div> Liên kết google</div>
                </div>
            </div>
            <div class="">
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input " checked id="customSwitch1">
                    <label class="custom-control-label" for="customSwitch1"></label>
                </div>

            </div>
        </div>

        <div class="d-flex py-3 justify-content-between ">
            <div class="d-flex align-items-center">
                <img src="/others/facebook (1).png" style="width: 30px; height: 30px"/>
                <div class="ml-3">
                    <div class="font-weight-bold">Google</div>
                    <div> Liên kết google</div>
                </div>
            </div>
            <div class="">
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input " id="customSwitch1">
                    <label class="custom-control-label" for="customSwitch1"></label>
                </div>

            </div>
        </div>
    </div>
</div>

{{#section 'js'}}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/bcryptjs@2.4.3/dist/bcrypt.min.js"></script>
    <script>
        $('#updateName').on('submit', function (e) {
            e.preventDefault();
            const password = $('#password').val();
            const name = $('#name').val();
            if (password.length === 0) {
                Swal.fire({title: 'Error!', text: 'Password is required', icon: 'error',});
                return;
            }
            if (name.length === 0) {
                Swal.fire({title: 'Error!', text: 'Name is required', icon: 'error',});
                return;
            }
            $.ajax({
                method: 'POST', url: '/account/is-valid-password',
                data: {password: password},
                success: function (response) {
                    if (response === true) {
                        $('#updateName').off('submit').submit();
                    } else {
                        Swal.fire({title: 'Error!', text: 'Password is incorrect', icon: 'error',});
                    }
                }, error: function () {
                    Swal.fire({title: 'Error!', text: 'There was an error processing your request', icon: 'error',});
                }
            });
        });
    </script>
    <script>
        $('#updateEmail').on('submit', function (e) {
            e.preventDefault();
            const password = $('#emailPassword').val();
            const email = $('#email').val();
            $.getJSON(`/account/is-available-email?email=${email}`, function (data) {
                if (data === false) {
                    Swal.fire
                    ({
                        title: 'Error!',
                        text: 'Email already existed',
                        icon: 'error',
                    })
                    return;
                }
                if (password.length === 0) {
                    Swal.fire({title: 'Error!', text: 'Password is required', icon: 'error',});
                    return;
                }
                if (email.length === 0) {
                    Swal.fire({title: 'Error!', text: 'Email is required', icon: 'error',});
                    return;
                }
                $.ajax({
                    method: 'POST', url: '/account/is-valid-password',
                    data: {password: password},
                    success: function (response) {
                        if (response === true) {
                            $('#updateEmail').off('submit').submit();
                        } else {
                            Swal.fire({title: 'Error!', text: 'Password is incorrect', icon: 'error',});
                        }
                    }, error: function () {
                        Swal.fire({
                            title: 'Error!',
                            text: 'There was an error processing your request',
                            icon: 'error',
                        });
                    }
                });
            });


        });
    </script>
    <script>
        $('#updatePassword').on('submit', function (e) {
            e.preventDefault();
            const password = $('#oldPassword').val();
            const newPassword = $('#newPassword').val();
            if (password.length === 0) {
                Swal.fire({title: 'Error!', text: 'Password is required', icon: 'error',});
                return;
            }
            if (newPassword.length === 0) {
                Swal.fire({title: 'Error!', text: 'New password is required', icon: 'error',});
                return;
            }
            $.ajax({
                method: 'POST', url: '/account/is-valid-password',
                data: {password: password},
                success: function (response) {
                    if (response === true) {
                        $('#updatePassword').off('submit').submit();
                    } else {
                        Swal.fire({title: 'Error!', text: 'Password is incorrect', icon: 'error',});
                    }
                }, error: function () {
                    Swal.fire({title: 'Error!', text: 'There was an error processing your request', icon: 'error',});
                }
            });
        });
    </script>

{{/section}}