{{#section 'css'}}
<style>
    .breadcrumb-item+.breadcrumb-item::before {
        content: "|";
        /* Thay đổi dấu phân cách */
    }

    .sticky-control {
        position: sticky;
        top: 10px;
        align-self: flex-start;
    }

    .optgroup-header {
        font-weight: 500;
        font-size: medium;
    }

    .option {
        margin-left: 15px;
    }
</style>
{{/section}}


{{#section 'js'}}
{{!-- Select multiplez --}}
<script>
    new TomSelect('#selectCat', {
        plugins: ['remove_button'],
    });
    new TomSelect('#selectTag', {
        plugins: ['remove_button'],
    });
</script>
{{/section}}


<div class="container-fluid mt-3 py-4 d-flex" style="width: 730px;">
    <div class="sticky-control bg-light p-2 mr-3 rounded">
        <a href="/editor" type="button" class="btn btn-secondary mb-2">
            <i class="bi bi-reply"></i>
        </a> <br>
        <button type="button" class="btn btn-warning mb-2" data-toggle="modal" data-target="#rejectModal">
            <i class="bi bi-ban"></i>
        </button>
        <button type="button" class="btn btn-success mb-2" data-toggle="modal" data-target="#acceptModal">
            <i class="bi bi-send-check"></i>
        </button>
    </div>

    {{!-- Article --}}
    <div class="card" style="border: none;">
        <div class="card-body">
            <div class="list-group list-group-flush">
                <div class="list-group-item" style='border: none;'>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            {{#each cData}}
                            {{#each children}}
                            {{#if selected}}
                            <li class="breadcrumb-item active">
                                {{name}}
                            </li>
                            {{/if}}
                            {{/each}}
                            {{/each}}

                        </ol>
                    </nav>
                    <ul
                        style="list-style: none; display: flex; align-items: center; padding: 0; margin: 0; margin-top: 5px;">
                        <i class="fas fa-tags fa-sm fa-fw" style="margin-right: 5px; margin-top: 5px;"></i>
                        {{#each this.tData}}
                        {{#if selected}}
                        <li>
                            <span class="badge badge-pill badge-light" style="font-weight: 400;">
                                {{name}}
                            </span>
                        </li>
                        {{/if}}
                        {{/each}}
                    </ul>

                    <h3 class="card-title" style="font-weight: bolder; margin: 0; margin-top: 15px;">
                        {{this.draft.title}}
                    </h3>
                </div>

                <div class="list-group-item d-flex align-items-center justify-content-between">
                    <p style="margin: 0;">
                        <i class="bi bi-vector-pen"></i>
                        {{this.draft.writer_pseudonym}}
                    </p>

                    <small>
                        Đăng duyệt:
                        {{formatSimpleDatetime this.draft.last_modified}}
                    </small>
                </div>

                <div class="list-group-item text-center font-weight-bold">
                    {{this.draft.abstract}}
                </div>

                <div class="list-group-item">
                    <div class="d-flex justify-content-center">
                        <img src="{{this.draft.main_thumb}}" class="d-block w-100 h-100" alt="Photo">
                    </div>
                </div>

                <div class="list-group-item">
                    {{{this.draft.content}}}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Reject Modal -->
<div class="modal fade" id="rejectModal" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Không duyệt bài</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/editor/reject?id={{this.draft.id}}" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="txtReason">
                            <b class="text-danger">Lý do</b>
                        </label>
                        <textarea class="form-control" name="reject_reason" id="txtReason" required></textarea>
                        <small id="helpId" class="text-muted p-2">Nhằm hiệu chỉnh lại bài viết cho phù hợp.</small>
                    </div>
                </div>
                <div class="modal-footer pb-3 pt-0">
                    <button type="submit" class="btn btn-danger mx-auto">Xác nhận</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Accept Modal -->
<div class="modal fade" id="acceptModal" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Hiệu chỉnh</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/editor/approve?id={{this.draft.id}}" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <label class="ml-2" for="selectCat"><b class="text-danger">Danh mục</b></label>
                        <select class="" name="newCategories[]" id="selectCat"
                            placeholder="Chọn danh sách danh mục phù hợp..." autocomplete="off" multiple required>
                            {{#each this.cData}}
                            <optgroup class="p-5" label="{{name}}">
                                {{#each children}}
                                <option value="{{id}}" {{#if selected}}selected{{/if}}>{{name}}</option>
                                {{/each}}
                            </optgroup>
                            {{/each}}
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="ml-2" for="selectTag"><b class="text-danger">Nhãn</b></label>
                        <select class="" name="newTags[]" id="selectTag" placeholder="Chọn danh sách nhãn phù hợp..."
                            autocomplete="off" multiple required>
                            {{#each this.tData}}
                            <option value="{{id}}" {{#if selected}}selected{{/if}}>{{name}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="form-group custom-control custom-checkbox ml-2">
                        <input type="checkbox" name="isPremium" class="custom-control-input ml-5 text-right" id="customCheck1">
                        <label class="custom-control-label" for="customCheck1">
                            <b class="text-warning">Bài viết Premium</b>
                            <i class="bi bi-star-fill text-warning"></i>
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="ml-2" for="pubdate"><b class="text-danger">Thời gian xuất bản</b></label>
                        <input type="datetime-local" name="publish_time" id="pubdate" class="form-control" required>
                    </div>
                </div>
                <div class="modal-footer pb-3 pt-0">
                    <button type="submit" class="btn btn-danger mx-auto">Xác nhận</button>
                </div>
            </form>
        </div>
    </div>
</div>