{{#section 'css'}}
<style>
    .article-title {
        color: black;
        font-size: large;
    }

    .article-title:hover {
        color: black;
        text-decoration: none;
    }

    .article-text {
        color: #7E8299;
    }
</style>
{{/section}}

<div>
    <span style="font-weight: 500; font-size:large;">{{toUpperCase this.activeParentName}}</span>
    <i class="bi bi-caret-right-fill"></i>
    <span>{{this.activeCatName}}</span>
</div>
<hr>
{{#if this.isEmpty}}
Không có tin mới thuộc danh mục này.
{{/if}}
{{#each this.drafts}}
<div class="row mb-3 px-3" style="border-radius: 10px; ">
    <div class="col-3">
        <a href="/editor/drafts/view?id={{id}}">
            <img src="{{main_thumb}}" class="rounded" style="object-fit:cover; width: 200px; height: 170px;" />
        </a>
    </div>
    <div class="col-9 pl-0 d-flex flex-column py-2">
        {{!-- Thêm link vào bài viết sau nhe --}}
        <a class="font-weight-bold article-title" href="/editor/drafts/view?id={{id}}">{{title}}</a>
        <div class="article-text mt-1">{{abstract}}</div>
        <p class="mb-0 article-text mt-auto">
            Gửi lúc {{formatSimpleDatetime this.submit_time}}
        </p>
    </div>
</div>
{{/each}}