{{#section 'css'}}
<style>
    .create-new-box {
        width: 910px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
        font-size: large;
        font-weight: 500;
        color: gray;
        border: 1px dashed gray;
        border-radius: 10px;
        text-decoration: none;
    }

    .create-new-box:hover {
        border-color: red;
        color: red;
        text-decoration: none;
    }
    
    .article-title {
        color: black;
        font-size: large;
    }

    .article-title:hover {
        color: black;
        text-decoration: none;
    }

    .article-text {
        color: #7E8299;
    }

    .category-link {
        color: #7E8299;
    }

    .category-link:hover {
        text-decoration: none;
    }
</style>
{{/section}}


<a href="/writer/create-new" class="create-new-box">
    Tạo tin mới
</a>

{{#unless this.isDraftEmpty}}
<h5 class="p-4">Bài nháp</h5>
{{/unless}}
{{#each this.draftArticles}}
<div class="row mb-3" style="border-radius: 10px; ">
    <div class="col-3">
        <a href="/writer/edit-article?id={{this.id}}">
            <img src="{{main_thumb}}" class="rounded" style="object-fit:cover; width: 200px; height: 170px;" />
        </a>
    </div>
    <div class="col-9 pl-0 d-flex flex-column">
        <p class="mb-0 article-text d-flex">
            {{#each categories}}
            <a href="" class="category-link mr-2">{{name}}</a>
            {{/each}}

            {{#unless is_published}}
            <span class="badge badge-warning ml-auto">Nháp</span>
            {{/unless}}
        </p>
        {{!-- Thêm link vào bài viết sau nhe --}}
        <a class="font-weight-bold article-title" href="/writer/edit-article?id={{this.id}}">{{title}}</a>
        <div class="article-text mt-1">{{abstract}}</div>
        <p class="mb-0 article-text mt-auto d-flex">
            {{#each tags}}
            <a href="" class="badge badge-pill badge-light mr-2 mt-auto">{{name}}</a>
            {{/each}}
        </p>
    </div>
</div>
{{/each}}