{{#section 'css'}}
<style>
    #pills-tab button.nav-link.active {
        background-color: #ED1C24;
        color: white;
    }

    .article-title {
        color: black;
        font-size: large;
    }

    .article-title:hover {
        color: black;
        text-decoration: none;
    }

    .article-text {
        color: #7E8299;
    }
</style>
{{/section}}

<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="pills-approved-tab" data-toggle="pill" data-target="#pills-approved"
            type="button" role="tab" aria-controls="pills-approved" aria-selected="true">
            Tin của bạn
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-pending-tab" data-toggle="pill" data-target="#pills-pending" type="button"
            role="tab" aria-controls="pills-pending" aria-selected="false">
            Tin đang chờ duyệt
        </button>
    </li>
</ul>
<div class="tab-content p-2" id="pills-tabContent">
    {{!-- Danh sách các bài viết đã được duyệt --}}
    <div class="tab-pane fade show active" id="pills-approved" role="tabpanel" aria-labelledby="pills-approved-tab">
        {{#if this.isAvailableEmpty}}
           Bạn chưa có tin nào xuất bản hay chờ xuất bản, viết một tin mới tại <a href="/writer/draft-articles">đây</a>.
        {{/if}}
        {{#each this.availableArticles}}
        <div class="row mb-3" style="border-radius: 10px; ">
            <div class="col-3">
                <img src="{{main_thumb}}" class="rounded" style="object-fit:cover; width: 200px; height: 130px;" />
            </div>
            <div class="col-9 pl-0">
                <p style="color: #7E8299" class="mb-0 article-text d-flex">
                    {{#each categories}}
                    <span class="mr-2">{{name}}</span>
                    {{/each}}
                    {{#unless is_published}}
                    <span class="badge badge-warning ml-auto">Chưa xuất bản</span>
                    {{/unless}}
                </p>
                {{!-- Thêm link vào bài viết sau nhe --}}
                <a class="font-weight-bold article-title" href="#">{{title}}</a>
                <div class="article-text mt-1">{{abstract}}</div>
            </div>
        </div>
        {{/each}}
    </div>

    {{!-- Danh sách các bài viết chưa được duyệt --}}
    <div class="tab-pane fade" id="pills-pending" role="tabpanel" aria-labelledby="pills-pending-tab">
        {{#if this.isDraftEmpty}}
           Bạn chưa có tin nào đang chờ được duyệt, viết một tin mới tại <a href="/writer/draft-articles">đây</a>.
        {{/if}}
        {{#each this.draftArticles}}
        <div class="row mb-3" style="border-radius: 10px; ">
            <div class="col-3">
                <img src="{{main_thumb}}" class="rounded" style="object-fit:cover; width: 200px; height: 130px;" />
            </div>
            <div class="col-9 pl-0">
                <p style="color: #7E8299" class="mb-0 article-text d-flex">
                    {{#each categories}}
                    <span class="mr-2">{{name}}</span>
                    {{/each}}
                    <span class="ml-auto">
                        {{#if is_rejected}}
                        <a href="#" class="badge badge-danger" data-toggle="modal" data-target="#staticBackdrop">Bị từ chối</a>
                        {{!-- Thông báo lí do bị từ chối --}}
                        <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false"
                            tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="staticBackdropLabel">Biên tập viên từ chối duyệt bài
                                            của bạn</h5>
                                    </div>
                                    <div class="modal-body">
                                        {{reject_reason}}
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-danger">Xóa bài</button>
                                        <button type="button" class="btn btn-success">Chỉnh sửa</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{else}}
                        <a href="#" class="badge badge-primary ">Chỉnh sửa</a>
                        {{/if}}
                    </span>
                </p>
                {{!-- Thêm link vào bài viết sau nhe --}}
                <a class="font-weight-bold article-title" href="#">{{title}}</a>
                <div class="article-text mt-1">{{abstract}}</div>
            </div>
        </div>
        {{/each}}
    </div>
</div>